
.container {
    width: 302px;
    height: 430px;
    background-color: #eee;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

section {
    width: 262px;
    height: 60px;
    background-color: #eee;
    margin: 0 auto;
    margin-bottom: 10px;
    
    -webkit-animation: slide ease-in-out 7s infinite;
}

@-webkit-keyframes slide {
    0% {margin-left: 320px;}
    25% {margin-left: 320px;}
    50% {margin-left: 18px;}
    75% {margin-left: 18px; box-shadow: 1px 1px 5px 3px rgba(0,0,0,.4);}
    100% {margin-left: -320px;}
}

section:first-child {
    margin-top: 15px;
}

section:nth-child(2) {
    -webkit-animation-delay : .2s;
}
section:nth-child(3) {
    -webkit-animation-delay : .4s;
}
section:nth-child(4) {
    -webkit-animation-delay : .6s;
}
section:nth-child(5) {
    -webkit-animation-delay : .8s;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ccc;
    margin-left: 43%;
}